.form {
    width: 96px;
    text-align: center;
    background-color: #ffffff9e;
    border-style: solid;
    border-color: #000000c9;
    border-radius: 3px;
    outline: inherit;
}

.button {
    display: flex;
    background-color: #45e545;
    width: 27px;
    height: 27px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 12px;
    margin-top: -13px;
    cursor: pointer;
}

